apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: orcestra-final-servicemonitor
  namespace: monitoring
  labels:
    release: prometheus-stack
spec:
  namespaceSelector:
    matchNames:
      - default
  selector:
    matchLabels:
      app: orcestra-final
  endpoints:
    - port: http
      path: /actuator/prometheus
      interval: 15s
      scrapeTimeout: 10s